/* =========================================
   VARIABLES SASS (Requisito: Variables)
   ========================================= */

$color-primario: #FF9800;
$color-secundario: #FFFDE7;
$color-texto: #333333;
$color-blanco: #ffffff;
$color-acento: #D84315;
$fuente-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;